.dashboard_page {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcom_text {
  font-size: xx-large;
  font-weight: bold;
  @media (max-width: 768px) {
    font-size: large;
  }
}
